.button {
    -fx-background-color: #00E5FF;
}

.button:hover {
    -fx-background-color: #AD1457;
}


.list-view {
    -fx-background-color:  #263238;
}


.list-cell {
    -fx-text-fill: white;
    -fx-background-color: #263238;
}

.list-cell:selected {
    -fx-text-fill: white;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #00E5FF;
}

.text-field {
    -fx-background-color: #455A64;
}

.context-menu {
    -fx-background-color:  #455A64;
    -fx-text-fill: white;
}


.text-area .content {
    -fx-background-color: #212121;

}

.text-area {
    -fx-text-fill: #00E5FF;
}

.chart-plot-background {
    -fx-background-color:transparent
}

.chart-plot-background > .chart-content {
    -fx-background-color: #263238;
}



.default-color0, .chart-legend-item-symbol{
    -fx-background-color: rgb(26, 188, 156);
}
.default-color0.chart-legend-item-symbol{
    -fx-background-color: rgb(26, 188, 156);
}
.default-color1, .chart-legend-item-symbol{
    -fx-background-color: rgb(46, 204, 113);
}
.default-color1.chart-legend-item-symbol{
    -fx-background-color: rgb(46, 204, 113);
}
.default-color2, .chart-legend-item-symbol{
    -fx-background-color: rgb(52, 152, 219);
}
.default-color2.chart-legend-item-symbol{
    -fx-background-color: rgb(52, 152, 219);
}
.default-color3, .chart-legend-item-symbol{
    -fx-background-color: rgb(155, 89, 182);
}
.default-color3.chart-legend-item-symbol{
    -fx-background-color: rgb(155, 89, 182);
}
.default-color4, .chart-legend-item-symbol{
    -fx-background-color: rgb(189, 195, 199);
}
.default-color4.chart-legend-item-symbol{
    -fx-background-color: rgb(189, 195, 199);
}
.default-color5, .chart-legend-item-symbol{
    -fx-background-color: rgb(241, 196, 15);
}
.default-color5.chart-legend-item-symbol{
    -fx-background-color: rgb(241, 196, 15);
}
.default-color6, .chart-legend-item-symbol{
    -fx-background-color: rgb(243, 156, 18);
}
.default-color6.chart-legend-item-symbol{
    -fx-background-color: rgb(243, 156, 18);
}
.default-color7, .chart-legend-item-symbol{
    -fx-background-color: rgb(211, 84, 0);
}

.default-color7.chart-legend-item-symbol{
    -fx-background-color: rgb(211, 84, 0);
}
.default-color8m, .chart-legend-item-symbol{
    -fx-background-color: rgb(231, 76, 60);
}
.default-color8m.chart-legend-item-symbol{
    -fx-background-color: rgb(231, 76, 60);
}

.scroll-pane {
    -fx-background-color: #263238;
}